<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="Home" asp-action="Index"
                       aria-expanded="false">
                        <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Menü</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="Book" asp-action="Index"
                       aria-expanded="false">
                        <i class="mdi mdi-chart-bar"></i><span class="hide-menu">Kitaplar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="Category" asp-action="Index"
                       aria-expanded="false">
                        <i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Kategoriler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="Author" asp-action="Index"
                       aria-expanded="false">
                        <i class="mdi mdi-border-inside"></i><span class="hide-menu">Yazarlar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="PublisherHome" asp-action="Index"
                       aria-expanded="false">
                        <i class="mdi mdi-border-inside"></i><span class="hide-menu">Yayın Evleri</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="Comment" asp-action="Index"
                       aria-expanded="false">
                        <i class="mdi mdi-border-inside"></i><span class="hide-menu">Yorumlar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="tables.html"
                       aria-expanded="false">
                        <i class="mdi mdi-border-inside"></i><span class="hide-menu">Roller</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="tables.html"
                       aria-expanded="false">
                        <i class="mdi mdi-border-inside"></i><span class="hide-menu">Siparişler</span>
                    </a>
                </li>


                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-account-key"></i><span class="hide-menu">Kullanıcı İşlemleri </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="authentication-login.html" class="sidebar-link">
                                <i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Kullanıcı Ekle </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="authentication-register.html" class="sidebar-link">
                                <i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Kullanıcı Düzenle </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                   <br />
                     <span class="hide-menu">Giriş Yapan Kullanıcı:Merve</span>
                       
                   
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>